<header id="main-header">
  <div id="logo">
    <a href="/">singsing</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">중고 에어컨</a>
      </li>
      <li>
        <a href="/posts">설치/수리 예약</a>
      </li>
      <li>
        <a href="/new-post">채팅 상담</a>
      </li>
    </ul>
  </nav>
</header>