<header id="main-header">
  <div id="logo">
    <a href="/"><img src="https://user-images.githubusercontent.com/50348197/172383061-c8418054-4b2d-4dba-aa60-e93bd33c461f.png" alt="logo" width="300"></a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts"><b>중고 에어컨</b></a>
      </li>
      <li>
        <a href="/repair"><b>설치/수리 예약</b></a>
      </li>
      <li>
        <a href="/chat"><b>채팅 상담</b></a>
      </li>
    </ul>
  </nav>
</header>