<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'ERROR' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>오류가 발생하였습니다!</h1>
    <p>해당 페이지는 사용이 불가하니, 관리자에게 문의해주세요 [ERROR - 404]</p>
    <a class="btn" href="/">돌아가기</a>
  </main>
</body>

</html>