<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Add new post' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>내 에어컨 판매하기</h1>
    <form action="/posts" method="post">
      <div class="form-control">
        <label for="title">이   름 : </label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-control">
        <label for="code">품   번 : </label>
        <input type="text" id="code" name="code" required maxlength="255">
      </div>
      <div class="form-control">
        <label for="state">상   태 : </label>
        <select id="state" name="state">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="F">F</option>
        </select>
      </div>
      <div class="form-control">
        <label for="detail">설   명 : </label>
        <textarea id="detail" name="detail" required rows="5"></textarea>
        <hr><hr>
        <div class="form-control">
          <label for="phone_number">판매자 연락처 (010-0000-0000) : </label>
          <input type="text" id="phone_number" name="phone_number" required maxlength="255">
        </div>
        <div class="form-control">
          <label for="password">게시글 비밀번호 : <br> 분실 시 찾을 수 없으니 유의해주세요</label>
          <input type="password" id="password" name="password" required maxlength="255">
      </div>
      
      <button class="btn">저 장</button>
    </form>
  </main>
</body>

</html>