<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: '판매상품 수정' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>수정하기</h1>
    <form action="/posts/<%=post.id%>/edit" method="POST">
      <div class="form-control">
        <label for="title">이   름 : </label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-control">
        <label for="code">품   번 : </label>
        <input type="text" id="code" name="code" required maxlength="255">
      </div>
      <div class="form-control">
        <label for="state">상   태 : </label>
          <select id="state" name="state">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="F">F</option>
          </select>
        </select>
      </div>
      <div class="form-control">
        <label for="detail">설   명 : </label>
        <textarea id="detail" name="detail" required rows="5"></textarea>
      </div>
      
      <button class="btn">저장</button>
    </form>
  </main>
</body>

</html>