<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  
  <main id="all-posts">
    <h1>판매 상품</h1>
    <a class="btn", href="/new-post">내 에어컨 판매하기</a>
  <% if (!posts || posts.length === 0){ %>
    
    <p><br>판매중인 에어컨이 없습니다.  </p>
  <% } else { %>
      <ol id="posts-list"> 
        <% for(const post of posts){ %>
          <li>
            <%- include('includes/post-item', {post:post})%>
          </li>
        <% }%>
      </ol>
  <%}%>
  
  </main> 
</body>

</html>