<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', { title: 'All Repairs' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>
<body>
    <%- include('includes/header') %>

    <main id="all-posts">
        <h1><%=man%> 기사 예약 내역</h1>

        <form action="/repair" method="GET">
            <a href="/repair"></a><button class="btn_list">전체 예약 목록 보기</button></a>
        </form>

        <br><br><hr>
        <% if(!select_repairman || select_repairman.length === 0) { %>
            <p><br>예약 내역이 없습니다.</p>
        <% } else { %>
            <ol id="posts-list">
                <% for(const repair of select_repairman) { %>
                    <li>
                        <%- include('includes/repair-content', {repair:repair}) %>
                    </li>
                <% } %>
            </ol>
        <% } %>


    
    </main>
<a href="/repair/new"><img src="https://user-images.githubusercontent.com/50348197/173247268-8158796b-9aae-4b82-bc34-8adedaa35dfc.png" alt="예약하기" width="100px"></a>
</body>
</html>