
html {
  font-family: "Malgun Gothic", serif;
  color: rgb(46, 45, 48);
}

body {
  margin: 0;
}

main {
  width: 80%;
  margin: 3rem auto;
}

a {
  text-decoration: none;
  color:rgb(0, 81, 255);
}

a:hover,
a:active {
  color:rgb(2, 33, 117);
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}



.btn {
  cursor: pointer;
  font: inherit;
  background-color: rgb(102, 168, 58);
  border: 1px solid rgb(102, 168, 58);
  color: white;
  padding: 0.5rem  0.5rem;
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  background-color: rgb(61, 124, 19);
  border-color: rgb(102, 168, 58);
  color: white;
}

.btn.btn-alt {
  background-color: transparent; 
  border-color: transparent;
  color:rgb(102, 168, 58);
}

.btn.btn-alt:hover,
.btn.btn-alt:active {
  color:rgb(2, 33, 117);
}



.btnO {
  cursor: pointer;
  font: inherit;
  background-color: rgb(255, 124, 37);
  border: 1px solid rgb(255, 124, 37);
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
}

.btnO:hover,
.btnO:active {
  background-color: rgb(238, 87, 0);
  border-color: rgb(238, 87, 0);
  color: white;
}


.btn_del {
  cursor: pointer;
  font: inherit;
  background-color: rgb(236, 54, 54);
  border: 1px solid rgb(236, 54, 54);
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
}

.btn_del:hover,
.btn_del:active {
  background-color: rgb(208, 36, 36);
  border-color: 1px solid rgb(208, 36, 36);
  color: white;
}

.btn_list {
  cursor: pointer;
  font: inherit;
  background-color: rgb(53, 110, 223);
  border: 1px solid rgb(53, 110, 223);
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
}

.btn_list:hover,
.btn_list:active {
  background-color: rgb(33, 89, 201);
  border-color: 1px solid rgb(33, 89, 201);
  color: white;
}


#main-header {
  padding: 1rem 5%;
  background-color: rgb(218, 227, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

#main-header ul {
  display: flex;
}

#main-header li {
  margin-left: 2rem;
}

#main-header nav a {
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
}

#main-header nav a:hover,
#main-header nav a:active {
  color:rgb(2, 33, 117);
}