

#all-posts {
  text-align: center;
  
}

#posts-list {
  margin: 3rem auto;
  max-width: 40rem;
}


#all-posts ol {
  display: grid;
  align-items:center;
  list-style:none;
  margin:0,;
  padding:0;
}

#all-posts li {
  margin: 0.5rem;
  padding: 0.5rem;
  border : 0;
  /*float: left;*/
}
.post-item {
  margin: 1rem 0;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(91, 155, 213);
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

.post-item h2{
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  text-align: center;
}

.post-item p {
  margin: 0.5rem 1rem;
  text-align: left;
}

.post-item h2 p {
  color: red;
}
.img-item {
  float: left;
}

.post-actions {
  display: flex;
  margin-top: 2rem;
  justify-content: right;
  align-items: right;
  gap: 1rem;
}


.post-actions .btn-alt {
  padding: 0;
}


#post-meta {
  color: rgb(156, 149, 149);
}

#post-meta address {
  display: inline;
}

#post-meta time {
  font-style: italic;
}

#body {
  white-space: pre-wrap; 
}

.floating{position: fixed; bottom: 40%; right: 10%;}